body {
    background-color: black;
    color: azure;
    margin-left: 20px;
}

button, span, label, input {
    /* font-weight: 700; */
    font-size: 18px;
}

button {
    margin-left: 8px;
}

/* button{
    margin-top: 20px;
} */
